@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../public/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/Inter-Variable.ttf") format("truetype");
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--mainColor);
  font-family: "Cabinet Grotesk", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --mainColor: #1e2534;
  --mainColorLight: #4741a6;
  --secondaryColor: #f9ce69;
  --textColor: #4a4a4a;
}

p {
  font-family: "Inter", sans-serif;
  color: var(--textColor);
  font-size: 16px;
  line-height: 170%;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: calc(36px + 3.3vw);
  }
  h2 {
    font-size: calc(24px + 3.3vw);
  }
  h3 {
    font-size: 24px;
  }
}
